<shared-navbar></shared-navbar>
<div class="title-div">
  <p>
    <mat-toolbar>
      <span class="example-spacer"></span>
      <span>GESTION DE USUARIOS</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
</div>
<div class="users-home">
  <div class="boton-crear">
    <button mat-raised-button color="primary" (click)="onUser( {user:null, event:'new'} )">CREAR USUARIO</button>
  </div>
  <div class="user-table">
    <users-list [userList]="usersList" [cargos]="cargos" (user)="onUser($event)" ></users-list>
  </div>
</div>

