<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="mat-elevation-z8 div-table">
  <table mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let user">
          {{user.NOMBRE}}
      </td>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let user">
          {{user.APELLIDO}}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fechaNacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
      <td mat-cell *matCellDef="let user">
          {{user.FECHA_NACIMIENTO | date }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user">
          {{user.EMAIL}}
      </td>
    </ng-container>

    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let user">
        <div style="display: flex;">
          {{user.ID_CARGO}}-
          <div *ngFor="let cargo of cargos" >
            <span *ngIf="cargo.ID_CARGO === user.ID_CARGO">{{cargo.CARGO}}</span>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let user">
          {{user.PASSWORD}}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user; let i = index" style="text-align: right;">
        <a class="cursor" style="color: #1f516f; margin-right: 2rem;" matTooltip="Editar usuario"
          (click)="openDialog(user , 'update')">
          <mat-icon>edit</mat-icon>
        </a>
        <a class="cursor" style="color: #e15639;" matTooltip="Eliminar usuario"
          (click)="eliminar(user)">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="50"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25]"
              aria-label="Select page">
  </mat-paginator>
</div>
