<div class="body">
  <div class="login">
    <img src="./assets/usuario.png" alt="user" title="user" width="50%" style="margin-bottom: 2rem;">
      <div style="display: flex; justify-content: space-evenly; margin-bottom: 2rem;">
        <button mat-raised-button color="primary" routerLink="login"  style="width: 120px;">Login</button>
        <button mat-raised-button color="primary" routerLink="register" style="width: 120px;">Registrarse</button>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>
