<div class="mat-elevation-z8">
  <div>
    <table mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element" class="td-date">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Empresa</th>
        <td mat-cell *matCellDef="let element">
          <a class="cursor" (click)="usersInfo(element.id)" matTooltip="Ver usuarios">
            {{element.name}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let element">
          <a class="cursor">
            {{element.phone}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="ACCIONES">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="td-delete">
          <a class="cursor" style="color: #1f516f; margin-right: 2rem;" matTooltip="Editar empresa"
          (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
          </a>
          <a class="cursor" style="color: #e15639;" matTooltip="Eliminar imagen"
              (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
