<shared-navbar></shared-navbar>
<div class="title">
  <h1>Lista De Empresas 💻</h1>
</div>
<div class="bussines_table">
  <bussines-list [bussinesList]="bussinesList" (users)="userListInfo($event)" (picture)="dialogBussinesDelete($event)"></bussines-list>
</div>
<div *ngIf="usersList.length > 0">
  <div class="title">
    <h2>Lista De Usuarios 🧍</h2>
  </div>
  <div class="bussines_table">
    <users-bussines-list [usersList]="usersList" (user)="dialogUsersDelete($event)"></users-bussines-list>
  </div>
</div>
