<mat-toolbar>
  <h2 class="title">KOSMETIKON</h2>
  <span class="example-spacer"></span>
  <div class="paths">
    <ul>
      <li [routerLinkActive]="'active'"><a routerLink="/users">Usuarios</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/pictures">Imágenes</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="/format">Formatos</a></li>
    </ul>
  </div>
  <span class="example-spacer"></span>
  <div style="margin: 1rem; justify-content: end; display: flex; ">
    <button mat-raised-button color="primary" (click)="logout()">LogOut</button>
  </div>
</mat-toolbar>
