<div class="principal">
  <h2>Crear infomración</h2>
  <form [formGroup]="forms" (ngSubmit)="createInfo()">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Kosmetikon" formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput placeholder="Kosmetikon" formControlName="phone">
    </mat-form-field>

    <button type="submit" mat-raised-button [disabled]="forms.invalid">Guardar</button>
  </form>
</div>

