/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-dialog__surface{
  background-color: transparent !important;
}

body{
  background-image: url(./assets/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.example-spacer {
  flex: 1 1 auto;
}

/*Scroll bar*/
body::-webkit-scrollbar {
  width: 10px;
  background: #abcdd4;
}
body::-webkit-scrollbar-thumb {
  background: #e8edec;
  border-radius: 10px;
  border-right: 2px solid #161a1e;
}

